body{background-color:#050b24;
    color:white;
}
nav {
    background-color: #050b24;
  overflow: hidden;
    
}
 a {
    text-decoration: none;
    color:rgb(180, 176, 176);
}
a:hover {
    color:#0c3b50; 
}
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left:22%;
    justify-content: space-around;
  }
nav a:hover {

    background-color:#0c3b50;
    color:#210c50;
}
hr {
    width:85%;
}
table, td {
    width:80%;
    background-color:#09123a;
    text-align:left;
}
h1 {
    text-align:center;
    color:#f2f2f2;

}

