body{background-color:#162e92;
    color:white;
}
nav {
    background-color: #162e92;
  overflow: hidden;
    
}
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
nav a:hover {

    background-color:#35e867;
}
hr {
    width:85%;
}
table, td {
    width:80%;
    background-color:#166c92;
}
h1 {
    text-align:center;
    color:#f2f2f2;

}
